<div class="signup-component" fxLayout="column" fxLayoutAlign="space-arround center" fxLayoutGap="10px">
    <div class="title-text max-width">
        <h3>Sign Up</h3>
    </div>
    <div class="waxyfarmer-btn max-width" >
        <button mat-raised-button class="btn" > Waxy Farmer</button>
    </div>
    <div class="regularfarmer-btn max-width">
        <button mat-raised-button class="btn"> Waxy Farmer</button>
    </div>
    <div class="title-text max-width">
        <button mat-raised-button class="btn"> Waxy Farmer</button>
    </div>
    <div class="waxyfarmer-btn max-width" >
        <button mat-raised-button class="btn" > Waxy Farmer</button>
    </div>
    <div class="regularfarmer-btn max-width">
        <button mat-raised-button class="btn"> Waxy Farmer</button>
    </div>
    <div class="title-text max-width">
        <button mat-raised-button class="btn"> Waxy Farmer</button>
    </div>
    <div class="waxyfarmer-btn max-width" >
        <button mat-raised-button class="btn" > Waxy Farmer</button>
    </div>
    <div class="regularfarmer-btn max-width">
        <button mat-raised-button class="btn"> Waxy Farmer</button>
    </div>
    
</div>

